@model Shop.ViewModels.ViewModels.KhachHangVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KhachHangVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Ma" class="control-label"></label>
                <input asp-for="Ma" class="form-control" />
                <span asp-validation-for="Ma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoVaTen" class="control-label"></label>
                <input asp-for="HoVaTen" class="form-control" />
                <span asp-validation-for="HoVaTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenTaiKhoan" class="control-label"></label>
                <input asp-for="TenTaiKhoan" class="form-control" />
                <span asp-validation-for="TenTaiKhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBac" class="control-label"></label>
                <input asp-for="IdBac" class="form-control" />
                <span asp-validation-for="IdBac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDiem" class="control-label"></label>
                <input asp-for="SoDiem" class="form-control" />
                <span asp-validation-for="SoDiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
